{% extends "main.html" %}

{% block title1 %}
   Create Blog Post
{% endblock %}

{% block content1 %}
<div class="container mt-5">
    <h1 class="mb-4">Create a Blog Post</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
          <!-- <input type="text" class="form-control" id="title" name="title" required> -->
          {{form.title}}
        </div>

        <div class="mb-3">
            <label for="{{ form.content.id_for_label }}" class="form-label">Content:</label>
            <textarea name="{{ form.content.name }}" id="{{ form.content.id_for_label }}" class="form-control" rows="4"></textarea>
        </div>
       
        <div class="mb-3">
            <label for="image" class="form-label">Image:</label>
            <!-- <input type="file" class="form-control" id="image" name="image" accept="image/*"> -->
            {{form.img}}
        </div>
        <button type="submit" class="btn btn-primary">Create Blog Post</button>
    </form>
</div>
{% endblock %}
