{% extends 'main.html' %}
{%block title1%}
    postview
    {%endblock%}
{% block content1 %}
<style>
  .read-more-link {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

  .read-more-link:hover {
    text-decoration: underline;
  }

  .comment-section {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
  }

  .comment {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
  }

  .comment .user-info {
    font-weight: bold;
  }

  .comment .timestamp {
    color: #777;
  }

  /* Style the comment input form */
  .comment-form {
    margin-top: 20px;
    border-top: 1px solid #dee2e6;
    padding-top: 15px;
  }
  .justify-text {
    text-align: justify;
  }
 
</style>

{% if view == "postview" %}
<main class="container ">
  <div class="row ">
    <div class="col-md-8 pt-5">
      <div class="card ">
        <div class="card-header">
          <h3 class="text-muted">Posts</h3>
        </div>
        {% for post in posts %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h3 align="justify">{{ post.title }}</h3>
            <img src="{{ post.img.url }}" class="img-fluid pt-2">
            <!-- <p class="justify-text">{{ post.content|linebreaks }}</p> -->
            <p class="justify-text">{{ post.content|linebreaksbr }}</p>
            <a href="{% url 'authorpost' post.author.id %}" class="read-more-link text-center">See Other Post</a>
          </li>
        </ul>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4 pt-5">
      <div class="card">
        <div class="card-header">
          Post Comments
        </div>
        <div class="card-body">
          {% for c in comments %}
          <div class="comment">
            <div class="user-info"> <a href="{% url 'profile' c.messageuser.id %}"> @{{ c.messageuser }} </a>&nbsp; {{c.created|timesince }} ago</div>
            <p class="text-start">{{ c.comment }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <form class="d-flex comment-form" method="post">
        {% csrf_token %}
        <input class="form-control me-2" type="text" placeholder="Add a comment" name="comments" aria-label="comment">
        <button class="btn btn-outline-success" type="submit">Comment</button>
      </form>
    </div>
  </div>
</main>
{% else %}
{% endif %}
<footer>
  <div class="container">
    <p class="text-center">Copyright &copy; 2023</p>
  </div>
</footer>
</body>
{% endblock %}
